.believers
    background: #fff
    color: #444
    padding: 4rem
    padding-bottom: 5rem
    font-weight: 100
    line-height: 2rem
    font-size: 1rem
    h2
        font-size: 1.5rem
        margin-bottom: 1.5rem
    em
        font-weight: 500
        display: block
    blockquote
        column-count: 2
        @media screen and (max-width: 750px)
            column-count: 1

    ul
        list-style: circle
        margin-left: 15px
