footer
    margin: auto
    padding: 4rem
    font-size: 14px
    color: $dark-body-color
    font-weight: 100
    
    //border-top: 2px solid $border-color
    display: flex
    flex-wrap: wrap
    span
        margin: 0.3rem 0rem
        padding-right: 2rem
        &:last-child
            padding-right: 0
@media screen and (max-width: 400px)
    footer
        padding: 2rem 1.5rem 3rem