.newsletter
    background: lightgrey
    color: #444
    padding: 2rem
    form
        margin-top: 0.5rem
        display: flex

        width: 100%
    input
        padding: 0.3rem

    input[type="email"]
        flex-grow: 1
        background: white
        border: none
        padding-left: 0.3rem
        font-size: inherit
        font-family: inherit
        box-sizing: border-box
        display: inline-block
    input[type="submit"]
        background: black
        border: none
        font-size: inherit
        color: white 
        cursor: pointer
        font-weight: 100
        box-sizing: border-box
        font-family: inherit
        display: inline-block
